@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #f5f5f4;
  -webkit-tap-highlight-color: transparent;
  overscroll-behavior-y: none;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f5f5f4;
}

::-webkit-scrollbar-thumb {
  background: #e7e5e4;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #d6d3d1;
}

.safe-area-pb {
  padding-bottom: env(safe-area-inset-bottom);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
